/** guide.css
    
    This file contains the style formats for guide.html

*/

/* This is an annotation in CSS, it will not be considered as code
 */

/* Structures */

body {
    
    /** Defines Background for body block */
    background-attachment: fixed;
    background-image: url(data/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover 100%;
    background-position-x: center;


    object-fit: cover;
    color: antiquewhite;
}

/* Basic elements */

table
{
    border-collapse: collapse;
}
table,th, td
{
    border: 1px solid black;
}
td
{
    padding: 15px;
}
th
{
    text-align: center;
    font-size: 20px;
}


/* This changes styles of elementes which are in "example" class */
div.example {

    /* Box */
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 15px;

    /* Text align */
    text-align: left;
    
    /* Border radius */
    border-radius: 25px;
    
    /** Background color */
    background-color: rgba(215, 40, 40, 0.4);
}
